:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  max-width: 500px;
  width: 100%;
}

.title {
  font-size: 1rem;
}

.field {
  margin-top: 0.5rem;
}

.submit-btn {
  margin-top: 0.5rem;
  display: block;
}
