<div class="controls">
  <p-button
    [disabled]="!!(loading$ | async) || (countDown$ | async)! > 0"
    (onClick)="updateUsers()"
    label="Update"
    size="small"></p-button>
  <span *ngIf="countDown$ | async as countDown">
    {{ countDown }}
  </span>
</div>

<div *ngIf="users$ | async as users" class="users-container">
  <button
    *ngFor="let user of users | keyvalue; trackBy: trackByFn"
    (click)="onUserClick(user.value)"
    class="user"
    [class.buddy]="user.value.conversationID !== null">
    <span>{{ user.value.name }}</span>
  </button>
</div>
