:host {
  display: block;
}

.controls {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  padding: 1rem;
  align-items: center;
}

.users-container {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.user {
  border: 1px solid var(--teal-300);
  border-radius: 0.5rem;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--surface-0);
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.5s ease;
  overflow: hidden;
  max-width: 500px;
  min-width: 200px;
  width: 100%;
}

.buddy {
  background-color: var(--teal-300);
  border: 1px solid var(--teal-500);
}

.user:hover {
  background-color: var(--teal-100);
}
