:host {
  padding: 10px 0;
  display: block;
}

.data-row {
  margin-bottom: 0.5rem;
}

.label {
  font-weight: bold;
  font-size: 1.5rem;
}

.data {
  margin-top: 0.25rem;
}

.field {
  margin-top: 0.25rem;
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
  max-width: 20rem;
}

.error-title {
  color: var(--red-800);
}
